
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- important meta tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>
        Change Password Page
    </title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome/css/font-awesome.min.css">

    <!-- BootStrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">



</head>

<body>

    <!-- Change Password -->
    <section id="change-password">
        <!-- background image -->

        <img src="~/Content/images/login/banner-with-overlay.jpg" alt="Login" class="img-responsive" id="login-bg-img">


        <!--  overlay -->
        <div id="login-overlay"></div>

        <!-- change password content -->
        <div id="change-password-content">
            <div class="center-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-8 col-xs-12 text-center child">
                            <div class="logo">
                                <img src="~/Content/images/login/top-logo.png" class="img-responsive">
                            </div>
                            <div class="bg-white">
                                <form method="post">
                                    <h1 class="heading">Change Password</h1>
                                    <p class="info">Enter your new password to change your password</p>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                                            <p>Old Password</p>
                                            <div class="form-group ">
                                                @*<input type="password" class="form-control pass old-pass" id="password-field" placeholder="Old password">*@
                                                @Html.Password("OldPassword", "", new { @class = "form-control pass old-pass", @id = "oldpassword-field", @placeholder = "Old password" })
                                                <span class="text-danger"> @Html.ValidationMessage("OldPassword")@Html.ValidationMessage("IncorrectPass")</span>
                                                <span toggle="#oldpassword-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                                            <p>New Password</p>
                                            <div class="form-group ">
                                                @*<input type="password" class="form-control pass new-pass" id="password-field" placeholder="New password">*@
                                                @Html.Password("NewPassword", "", new { @class = "form-control pass new-pass", @id = "newpassword-field", @placeholder = "New password" })
                                                <span class="text-danger"> @Html.ValidationMessage("NewPassword")</span>
                                                <span toggle="#newpassword-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                                            <p>Confirm Password</p>
                                            <div class="form-group ">
                                                @*<input type="password" class="form-control pass confirm-pass" id="password-field" placeholder="Confirm Password">*@
                                                @Html.Password("ConfirmPassword", "", new { @class = "form-control pass confirm-pass", @id = "confirmpassword-field", @placeholder = "Confirm password" })
                                                <span class="text-danger"> @Html.ValidationMessage("ConfirmPassword")@Html.ValidationMessage("PassNotMatch")</span>
                                                <span toggle="#confirmpassword-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                            </div>
                                        </div>

                                    </div>

                                    <button type="submit" class="btn btn-primary btn-lg btn-block text-uppercase text-center">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <!-- JQuerry -->
    <script src="~/Scripts/js/jquery.min.js"></script>

    <!-- BootStrap JS -->
    <script src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/js/script.js"></script>
</body>

</html>