
@{
    ViewBag.Title = "AddAdministrator";
    Layout = "~/Views/Shared/Admin_Header.cshtml";
}

@model NoteMarketPlace.Models.Administrator
<body>
    <br />
    <br />
    <br />
    <section id="add-administrator">
        @using (Html.BeginForm("AddAdministrator", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <div class="basic-profile-details">
            <form>
                <div class="container">
                    <div class="row">
                        <!-- Basic Details -->
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h1 class="heading">Add Administrator</h1>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-6 col-sm-6 col-xs-12 data">
                                <p>First Name*</p>
                                <div class="form-group ">
                                    @*<input type="text" class="form-control name f-name" id="f-name" placeholder="Enter your first name">*@
                                    @Html.TextBoxFor(m => m.adminid, "", new { @class = "form-control name hidden" })
                                    @Html.TextBoxFor(m => m.fname, "", new { @class = "form-control name f-name", @id = "f-name", @placeholder = "Enter your first name" })
                                    <span class="text-danger"> @Html.ValidationMessage("fName")</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-6 col-sm-6 col-xs-12 data">
                                <p>Last Name*</p>
                                <div class="form-group ">
                                    @*<input type="text" class="form-control name l-name" id="l-name" placeholder="Enter your last name">*@
                                    @Html.TextBoxFor(m => m.lname, "", new { @class = "form-control name l-name", @id = "l-name", @placeholder = "Enter your last name" })
                                    <span class="text-danger"> @Html.ValidationMessage("lName")</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-6 col-sm-6 col-xs-12 data">
                                <p>Email*</p>
                                <div class="form-group ">
                                    @*<input type="email" class="form-control email" id="email" placeholder="Enter your email address">*@
                                    @Html.TextBoxFor(m => m.email, "", new { @class = "form-control email", @id = "email", @placeholder = "Enter your email address" })
                                    <span class="text-danger"> @Html.ValidationMessage("email")</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-6 col-sm-6 col-xs-12 data">
                                <p>Phone Number</p>
                                <div class="col-md-3 col-sm-4 col-xs-5 country-code form-group drop-arrow">
                                    @*<select name="phone-no" id="phone-no" class="form-control">
            <option value="india">+91</option>
            <option value="usa">+1</option>
        </select>*@
                                    @Html.DropDownListFor(model => model.CountryCode, ViewBag.CountryList as SelectList, new { @id = "phone-no", @class = "form-control" })
                                </div>
                                <div class="col-md-9 col-sm-8 col-xs-7 phone-number form-group">
                                    @*<input type="text" class="form-control name p-no" id="p-no" placeholder="Enter your phone number">*@
                                    @Html.TextBoxFor(m => m.phoneno, "", new { @class = "form-control name p-no", @id = "p-no", @placeholder = "Enter your phone number" })
                                    <span class="text-danger"> @Html.ValidationMessage("phoneno")</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-7">
                            <button type="submit" class="btn btn-primary btn-lg btn-block text-uppercase text-center btn-submit">
                                Submit
                            </button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        }
    </section>
    @section Scripts{
        <script type="text/javascript">
            $(function () {
                showHideNav();
                $(window).scroll(function () {
                //show hide nav on windows scroll
                showHideNav();
                });
                function showHideNav() {
                    if ($(window).scrollTop() > -50) {
                    //show white nav
                        $("nav").addClass("white-nav-top");
                        $("nav").css("box-shadow", "0 0 0 0 ");
                     //show dark logo
                        $(".sticky-logo img").attr("src", "../../Content/images/login/logo.png");
                    //Show back-to-top Button
                    }
                    if ($(window).scrollTop() > 50) {
                    $("nav").css("box-shadow", "0 8px 6px -9px #999 ");
                    }
                }
            });
        </script>
    }
</body>